// main:../admin_pro.scss

.social-warfare_page_social-warfare-analytics {
	.sw-admin-tab {
		h2 {
			background: #f3f4f5;
			padding: 15px;
			border-radius:10px;
			font-size:18px;
			color:#555555;
			&:before {
				font-family: 'dashicons';
				margin: 1px 15px -2px 5px;
				line-height: 18px;
				display: block;
				float: left;
				font-size: 20px;
			}
			&.line_chart:before {
				content: "\f239";
			}
			&.bar_chart:before {
				content: "\f185";
			}
		}
		.sw-timeframes {
			text-align:center;
			.sw-chart-timeframe {
				display: inline-block;
			    padding: 3px 10px;
			    border: 1px dashed #ccc;
			    margin: 10px 5px 5px 5px;
			    border-radius: 3px;
			    color: #555;
			    cursor: pointer;
				&:first-of-type {
					margin-left:0;
				}
				&.invalid {
					color:#ddd;
					border-color:#ddd;
					cursor:default;
				}
				&.active {
					border: 1px solid #ccc;
					color:black;
					background: #f3f4f5;
				}
			}
		}
	}

	.sw-header-wrapper {
		margin: -20px 0 20px 0;
		padding: 0;
	}

	.sw-top-menu {
		.sw-header-logo-pro {
		    height: 46px;
		    margin-top: 18px;
		    float: left;
		    margin-right: 20px;
		}
	}
}

#swp_analytics_widget {
	.inside {
		margin-top:0;
		h2 {
			font-size:18px;
			background: #f3f4f5;
			padding:10px 12px;
			margin:20px -12px;
			border-top: 1px solid #eeeeee;
			border-bottom: 1px solid #eeeeee;
		}
		.sw-grid:first-child {
			h2 {
				margin-top:0;
			}
		}
	}
}
